# Build output
target
/client/out
/client/syntaxes/glsl.tmLanguage.json

# Npm dependencies
/client/node_modules

# Library cargo.lock file
/glast/Cargo.lock

# Build/publish script outputs
/out
/publish
/kuba-p.glsl*